<div [formGroup]="parent">
  <div formGroupName="social_media">
    <!--<ion-item *ngFor="let sm of smTypes" >
      <ion-label floating> {{ sm.title }} </ion-label>
      <ion-input type="url" [readonly]="mode==='view'" [(ngModel)]="sm.name" [formControlName]="sm.name" ></ion-input>
    </ion-item>-->

    <ion-item *ngFor="let sm of socialMedia" >
      <ion-label floating> {{ sm.type }} </ion-label>
      <ion-input type="url" [readonly]="mode==='view'" [(ngModel)]="sm.url" [formControlName]="sm.type" ></ion-input>
    </ion-item>

  </div>
</div>