<!--
  Generated template for the SosDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{ 'SOS_DETAIL.TITLE' | translate }}</ion-title>
      <ion-buttons right>
        <button ion-button icon-only *ngIf="mode!=='view'" (click)="doSaveChanges()" [disabled]="SOSDetailForm.invalid" >
          <ion-icon name="checkmark" ></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="mode==='view' && isOwner " (click)="edit()">
            <ion-icon  name="create"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top color="primary">
      <ion-segment [(ngModel)]="SOSDetailSection" color="light">
        <ion-segment-button value="general">{{ 'SOS_DETAIL.SECTION_GENERAL_INFO_TITLE' | translate }}</ion-segment-button>
        <ion-segment-button value="contact">{{ 'SOS_DETAIL.SECTION_CONTACT_INFO_TITLE' | translate }}</ion-segment-button>
        <ion-segment-button value="notes">{{ 'SOS_DETAIL.SECTION_NOTES_INFO_TITLE' | translate }}</ion-segment-button>
        <ion-segment-button value="helpers" *ngIf="mode==='view'  && isOwner " >{{ 'SOS_DETAIL.SECTION_HELPERS_TITLE' | translate }}</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <form novalidate [formGroup]="SOSDetailForm">
    <!--general-->
    <div [hidden]="SOSDetailSection !== 'general'" >
      <ion-row>
        <ion-col col-4>
          <img class='avatar_image' [src]=" sos.image ? sos.image : 'assets/imgs/avatar.png'">
          <h5> {{ 'SOS_DETAIL.STATUS_LABEL' | translate }} {{ sos.status | sosStatusCode | translate }}</h5>
          <ion-fab top right  #fab *ngIf="mode!=='view'">
            <button ion-fab mini>
              <ion-icon name="create"></ion-icon>
            </button>
            <ion-fab-list>
              <button ion-fab  (click) ="selectAvatar()">
                <ion-icon name="images"></ion-icon>
              </button>
              <button ion-fab (click) ="captureAvatar()">
                <ion-icon name="camera"></ion-icon>
              </button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
        <ion-col col-8>
          <ion-list>
            <ion-item>
              <!--<ion-icon name="megaphone" item-start color="primary"></ion-icon>-->
              <ion-label floating>{{ 'SOS_DETAIL.SHORT_DESCRIPTION_LABEL' | translate }}</ion-label>
              <ion-input type="text" [readonly]="mode==='view'" formControlName="short_description" ></ion-input>
            </ion-item>
            <ng-container *ngFor="let message of errorMessages.short_description">
              <div class="error" *ngIf="SOSDetailForm.get('short_description').hasError(message.type) && SOSDetailForm.get('short_description').dirty && SOSDetailForm.get('short_description').touched">
                {{ message.message | translate }}
              </div>
            </ng-container>

            <ion-item>
              <!--<ion-icon name="download" item-start color="primary"></ion-icon>-->
              <ion-label floating>{{ 'SOS_DETAIL.NEED_LABEL' | translate }}</ion-label>
              <ion-input type="text" [readonly] ="mode==='view'" formControlName="need"></ion-input>
            </ion-item>
            <ng-container *ngFor="let message of errorMessages.need">
              <div class="error" *ngIf="SOSDetailForm.get('need').hasError(message.type) && SOSDetailForm.get('need').dirty && SOSDetailForm.get('need').touched">
                {{ message.message | translate }}
              </div>
            </ng-container>

            <div hidden></div>
          </ion-list>
        </ion-col>
      </ion-row>
      <div class="location">
        
        <div ion-text>{{ 'SOS_DETAIL.MAP_DIRECTIONS' | translate }}</div>
        <div class="location-map">
          <div #map id="map" no-padding></div>
        </div>
        
      </div> 
    </div>
    <!--contact info-->
    <ion-list [hidden] = "SOSDetailSection !== 'contact'">
      <ion-item-divider color="light">{{ 'SOS_DETAIL.CONTACT_INFO_DIVIDER' | translate }}</ion-item-divider>
      <ion-item>
        <ion-label floating>{{ 'SOS_DETAIL.CONTACT_NAME_LABEL' | translate }}</ion-label>
        <ion-input type="text" [readonly] ="mode==='view'" formControlName="contact_name" ></ion-input>
      </ion-item>
      <ng-container *ngFor="let message of errorMessages.contact_name">
        <div class="error" *ngIf="SOSDetailForm.get('contact_name').hasError(message.type) && SOSDetailForm.get('contact_name').dirty && SOSDetailForm.get('contact_name').touched">
          {{ message.message | translate }}
        </div>
      </ng-container>


      <ion-item>
        <ion-label floating>{{ 'SOS_DETAIL.CONTACT_PHONE_LABEL' | translate }}</ion-label>
        <ion-input type="phone" [readonly] ="mode==='view'" formControlName="contact_phone"></ion-input>
      </ion-item>
      <ng-container *ngFor="let message of errorMessages.contact_phone">
        <div class="error" *ngIf="SOSDetailForm.get('contact_phone').hasError(message.type) && SOSDetailForm.get('contact_phone').dirty && SOSDetailForm.get('contact_phone').touched">
          {{ message.message | translate }}
        </div>
      </ng-container>

      <ion-item>
        <ion-label floating>{{ 'SOS_DETAIL.CONTACT_EMAIL_LABEL' | translate }}</ion-label>
        <ion-input type="email" [readonly] ="mode==='view'" formControlName="contact_email"></ion-input>
      </ion-item>
      <ng-container *ngFor="let message of errorMessages.contact_email">
        <div class="error" *ngIf="SOSDetailForm.get('contact_email').hasError(message.type) && SOSDetailForm.get('contact_email').dirty && SOSDetailForm.get('contact_email').touched">
          {{ message.message | translate }}
        </div>
      </ng-container>
    </ion-list>
    
    <!--notes-->
    <ion-list [hidden]= "SOSDetailSection !=='notes'">
      <ion-item-divider color="light">{{ 'SOS_DETAIL.NOTES_DIVIDER' | translate }}</ion-item-divider>
      <ion-textarea class="textarea-no-radius" type="text"[readonly]="mode==='view'" formControlName="notes" ></ion-textarea>
    </ion-list>

  </form>
  <!--helpers-->
  <ion-list [hidden]="SOSDetailSection !== 'helpers' || !isOwner">
    <ion-item *ngFor="let helper of SOSHelpersList" >
      <ion-avatar item-start>
        <img [src]=" helper.avatar ? helper.avatar  : 'assets/imgs/avatar.png'">
      </ion-avatar>
      <h2> {{ helper.name }} </h2>
      <button ion-button clear item-end (click)="doMessage(helper)">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
