// Raleway Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$raleway-font-path: $font-path !default;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'),
    url('#{$raleway-font-path}/raleway-light.woff2') format('woff2'),
    url('#{$raleway-font-path}/raleway-light.woff') format('woff'),
    url('#{$raleway-font-path}/raleway-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
    url('#{$raleway-font-path}/raleway-regular.woff2') format('woff2'),
    url('#{$raleway-font-path}/raleway-regular.woff') format('woff'),
    url('#{$raleway-font-path}/raleway-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'),
    url('#{$raleway-font-path}/raleway-medium.woff2') format('woff2'),
    url('#{$raleway-font-path}/raleway-medium.woff') format('woff'),
    url('#{$raleway-font-path}/raleway-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('#{$raleway-font-path}/raleway-bold.woff2') format('woff2'),
    url('#{$raleway-font-path}/raleway-bold.woff') format('woff'),
    url('#{$raleway-font-path}/raleway-bold.ttf') format('truetype');
}
