<!--
  Generated template for the SosMessagesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{ 'SOS_MESSAGES_DETAIL.TITLE' | translate }}</ion-title>
      
    </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-item no-lines >
    <ion-icon name="mail" item-start color="primary"></ion-icon>
    <h1 ion-text color="primary"> {{ sos.short_description }}</h1>
    <h2 *ngIf="isOwner"> {{ 'SOS_MESSAGES_DETAIL.SUBTITLE' | translate }} {{ helper.name }}</h2>
    <h2 *ngIf="!isOwner"> {{ 'SOS_MESSAGES_DETAIL.SUBTITLE' | translate }} {{ userSOSCreator?.name }}</h2>
  </ion-item>
  
  <ion-list no-lines>
    <ion-item *ngFor="let message of messages" [ngClass]="message.type == 'to' ? 'user_1': 'user_2'" text-wrap>
    <ion-avatar item-start *ngIf="message.type == 'from'">
      <img [src]=" helper?.avatar ? helper?.avatar : 'assets/imgs/avatar.png'">
    </ion-avatar>
    <h2>{{message.message}}</h2>
    <ion-avatar item-end *ngIf="message.type == 'to' "> 
        <img [src]=" userSOSCreator?.avatar ? userSOSCreator?.avatar : 'assets/imgs/avatar.png'">
      </ion-avatar>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer >
  <ion-list no-lines>
    <ion-item>
      <ion-textarea #textarea class="textarea" [(ngModel)]="messageText" type="text"></ion-textarea>
      <button ion-button item-end (click)="doSendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
    <div hidden></div>
  </ion-list>
</ion-footer>
