.user_1 {
  width: 90%;
  background-color: #d3f0d1;
  border-radius: 10px;
  border: 1px solid #7bed73;
  float: left;
  text-align: left;
  padding: 5px;
  margin-top: 5px;
}

.user_2 {
  width: 90%;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #7c7d7b;
  float: right;
  text-align: right;
  padding: 5px;
  margin-top: 5px;
}
