<!--
  Generated template for the ServicesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{ 'SERVICE_DETAIL.TITLE' | translate }}</ion-title>
      <ion-buttons right>
        <button ion-button icon-only *ngIf="mode!=='view'" (click)="doSaveChanges()" [disabled]="serviceDetailForm.invalid" >
          <ion-icon name="checkmark" ></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="mode==='view' " (click)="edit()">
            <ion-icon  name="create"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding>
  <form novalidate [formGroup]="serviceDetailForm">
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img [src]=" service.image ? service.image : 'assets/imgs/avatar.png'">
        </ion-col>
        <ion-col col-4>
          <ion-fab top left #fab *ngIf="mode!=='view'">
            <button ion-fab mini>
              <ion-icon name="create"></ion-icon>
            </button>
            <ion-fab-list>
              <button ion-fab  (click) ="selectAvatar()">
                <ion-icon name="images"></ion-icon>
              </button>
              <button ion-fab  (click) ="captureAvatar()">
                <ion-icon name="camera"></ion-icon>
              </button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item>
          <ion-label floating>{{ 'SERVICE_DETAIL.BUSINESS_NAME_LABEL' | translate }}</ion-label>
          <ion-input type="text" [readonly]="mode==='view'" formControlName="business_name"></ion-input>
        </ion-item>
        <ng-container *ngFor="let message of errorMessages.business_name">
          <div class="error" *ngIf="serviceDetailForm.get('business_name').hasError(message.type) && serviceDetailForm.get('business_name').dirty && serviceDetailForm.get('business_name').touched">
            {{ message.message | translate }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label floating>{{ 'SERVICE_DETAIL.TYPE_LABEL' | translate }}</ion-label>
          <ion-select [disableControl]="mode==='view'" formControlName="type">
            <ion-option *ngFor="let type of serviceTypes" [value]="type">{{ type | serviceTypeCode | translate }}</ion-option>
          </ion-select>
        </ion-item>
        <ng-container *ngFor="let message of errorMessages.type">
          <div class="error" *ngIf="serviceDetailForm.get('type').hasError(message.type) && serviceDetailForm.get('type').dirty && serviceDetailForm.get('type').touched">
            {{ message.message | translate }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label floating>{{ 'SERVICE_DETAIL.PHONE_LABEL' | translate }}</ion-label>
          <ion-input type="tel" [readonly]="mode==='view'" formControlName="phone"></ion-input>
        </ion-item>
        <ng-container *ngFor="let message of errorMessages.phone">
          <div class="error" *ngIf="serviceDetailForm.get('phone').hasError(message.type) && serviceDetailForm.get('phone').dirty && serviceDetailForm.get('phone').touched">
            {{ message.message | translate }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label floating>{{ 'SERVICE_DETAIL.ADDRESS_LABEL' | translate }}</ion-label>
          <ion-input type="text" [readonly]="mode==='view'" formControlName="address"></ion-input>
        </ion-item>
        <ng-container *ngFor="let message of errorMessages.address">
          <div class="error" *ngIf="serviceDetailForm.get('address').hasError(message.type) && serviceDetailForm.get('address').dirty && serviceDetailForm.get('address').touched">
            {{ message.message | translate }}
          </div>
        </ng-container>


        <ion-item>
          <ion-label floating>{{ 'SERVICE_DETAIL.NOTES_LABEL' | translate }}</ion-label>
          <ion-textarea type="text" [readonly]="mode==='view'" formControlName="notes"></ion-textarea>
        </ion-item>
        <ng-container *ngFor="let message of errorMessages.notes">
          <div class="error" *ngIf="serviceDetailForm.get('notes').hasError(message.type) && serviceDetailForm.get('notes').dirty && serviceDetailForm.get('notes').touched">
            {{ message.message | translate }}
          </div>
        </ng-container>
        
        <ion-item-divider color="light">{{ 'SERVICE_DETAIL.SOCIAL_MEDIA_LABEL' | translate }}</ion-item-divider>
        <social-media-form [parent]="serviceDetailForm" [socialMedia]="service?.social_media"></social-media-form>

      </ion-list>
  </form>
</ion-content>
