<!--
  Generated template for the MyPetsMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MY_PETS_MAIN.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let pet of myPets">
      <ion-card-header>
        <ion-item no-padding >
          <h1 ion-text color="primary" class="title">Novak</h1>
          <h3 *ngIf="pet.birthday">{{ 'MY_PETS_MAIN.AGE' | translate:{age:2} }}</h3>
          <h3 *ngIf="!pet.birthday">{{ 'MY_PETS_MAIN.NO_AGE' | translate }}</h3>
          <ion-icon name="more" item-right (click)="doViewPetProfile(pet)" ></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-4>
            <ion-img class='avatar_image' src='assets/imgs/avatar.png'></ion-img>
            
            <h5>Cat, Russian Blue</h5>
          </ion-col>
          <ion-col col-8>
            <ion-list>
              <ion-item>
                <ion-icon name="medical" item-start color="primary"></ion-icon>
                <h2>Vaccines</h2>
                <ion-badge item-end>1</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="pulse" item-start color="primary"></ion-icon>
                <h2>Veterinary</h2>
              </ion-item>
              <ion-item>
                <ion-icon name="alert" item-start color="primary"></ion-icon>
                <h2>Other
                </h2>
                <ion-badge item-end>2</ion-badge>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</ion-content>
