<!--
  Generated template for the SosMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SOS_MAIN.TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="primary">
    <ion-segment [(ngModel)]="sosSection" color="light">
      <ion-segment-button value="current">{{ 'SOS_MAIN.SECTION_CURRENT_TITLE' | translate }}</ion-segment-button>
      <ion-segment-button value="helping">{{ 'SOS_MAIN.SECTION_HELPING_TITLE' | translate }}</ion-segment-button>
      <ion-segment-button value="mySOS">{{ 'SOS_MAIN.SECTION_MYSOS_TITLE' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="sosSection">
    <!--current-->
    <div *ngSwitchCase="'current'">
      <ion-list>
        <ion-item no-padding *ngFor="let current of currentSOSList">
          <ion-avatar item-start>
            <img [src]=" current.image ? current.image : 'assets/imgs/avatar.png'">
          </ion-avatar>
          <h2>{{ current.short_description }}</h2>
          <p>{{ current.need }}</p>
          <p>{{ current.date | date }}</p>
          <ion-note item-end>3,2 km</ion-note>
          <button ion-button clear item-end (click)="showSOSMenu(current)" >
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <ion-fab bottom right>
          <button ion-fab (click)="doAddSOS()" ><ion-icon name="add"></ion-icon></button>
        </ion-fab>
  
    </div>
    <!--helping out-->
    <div *ngSwitchCase="'helping'">
      <ion-list>
        <ion-item no-padding *ngFor="let helping of helpingOutSOSList">
            <ion-avatar item-start>
              <img [src]=" helping.image ? helping.image : 'assets/imgs/avatar.png'">
            </ion-avatar>
            <h2>{{ helping.short_description }}</h2>
            <p>{{ helping.need }}</p>
            <p>{{ helping.date | date }}</p>
            <ion-note item-end>3,2 km</ion-note>
            <button ion-button clear item-end (click)="showSOSMenu(helping)" >
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
    </div>
    <!--my sos-->
    <div *ngSwitchCase="'mySOS'">
        <ion-list>
            <ion-item no-padding *ngFor="let mySOS of mySOSList">
                <ion-avatar item-start>
                  <img [src]=" mySOS.image ? mySOS.image : 'assets/imgs/avatar.png'">
                </ion-avatar>
                <h2>{{ mySOS.short_description }}</h2>
                <p>{{ mySOS.need }}</p>
                <p>{{ mySOS.date | date }}</p>
                <ion-note item-end>{{ mySOS.status | sosStatusCode | translate  }}</ion-note>
                <button ion-button clear item-end (click)="showSOSMenu(mySOS)" >
                  <ion-icon name="more"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
            <ion-fab bottom right>
                <button ion-fab (click)="doAddSOS()" ><ion-icon name="add"></ion-icon></button>
              </ion-fab>
          
    </div>
  </div>
</ion-content>
